@import "../variables.scss";
@import "../typography.scss";

.test-component {
  background-color: $harvey-white;
  border: 1px solid $harvey-black;
  padding: 16px;
  width: 360px;
  text-align: center;

  .heading {
    @include heading;
  }

  &.test-component-secondary {
    background-color: $harvey-black;
    color: $harvey-white;
  }
}

.tag__input {
  width: 500px;
  padding: 0.5em;
  border: 1px solid purple;
  border-radius: 2px;
}

.test__span {
  background-color: red;
}
