@import "../variables.scss";
@import "../typography.scss";

.test-component {
  background-color: $harvey-white;
  border: 1px solid $harvey-black;
  padding: 16px;
  width: 360px;
  text-align: center;

  .heading {
    @include heading;
  }

  &.test-component-secondary {
    background-color: $harvey-black;
    color: $harvey-white;
  }
}

.tag {
  display: inline-block;
  cursor: default;
}

.tag__input {
  width: 500px;
  padding: 0.5em;
  border: 1px solid purple;
  border-radius: 2px;
}

.test__span {
  background-color: red;
  padding: 0.2em 0.4em;
  border-radius: 1em;
  color: white;

  &[contenteditable='true'] {
    background-color: white;
    color: black;
    border: 2px solid red;
    outline: 0;
  }
}
