.clTag {
  $self: &;


	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	border: 1px solid #9cbbbb;
	padding: 0;
	line-height: 1.1;
	cursor: text;
	outline: none;
	position: relative;
	box-sizing: border-box;
	transition: 0.1s;
  

	&__input {
		width: 500px;
		padding: 0.5em;
		border-radius: 2px;
    display: inline-block;
    flex-grow: 1;
    position: relative;
    box-sizing: inherit;
    
	}

	&__tag {
		display: inline-flex;
    align-items: center;
		cursor: default;
    position: relative;
    outline: none;
    z-index: 2;
    border-radius: 3px;
		margin: 0.2em 0 0.2em 0.2em;
    background-color: rgb(46, 78, 78);
    color: beige;
		/* If you want to implement it in very old browser-versions */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    

    & *:after {
      -webkit-user-select: auto; /* Chrome/Safari */
      -moz-user-select: auto; /* Firefox */
      -ms-user-select: auto; /* IE10+ */
      -o-user-select: auto;
      user-select: auto;
  
    }

    > div {
      padding: 0.3em;
    }

		&-text {
			border-radius: 1em;
			color: white;

			&[contenteditable="true"] {
				color: black;
				outline: 0;
        cursor: text;
        user-select: text;
			}
		}

    &__removeBtn {
      order: 5;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      cursor: pointer;
      font: 14px/1 Arial;
      background: 0 0;
      color: #fff;
      width: 14px;
      height: 7px;
      margin-right: 5px;
      margin-left: -5px;
      overflow: hidden;
      transition: .2s ease-out;

      &::after{
        content: "\00D7";
        transition: .3s, color 0s;
    }
    }

    &--editable{
      background-color: #fff;

      > div{
        border: 2px solid aqua;
      }

      > #{$self}__tag__removeBtn{
          pointer-events: none;
          

          &::after{
              opacity: 0;
              transform: translateX(100%) translateX(5px);
          }
      }
  }
	}
}
